<div>
  <mat-toolbar color="primary" class="mat-elevation-z4">
    {{ appname }}
  </mat-toolbar>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event.target.value)" placeholder="teamname" #input>
  </mat-form-field>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">

    <!-- Rang Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef>Rang</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.rank}}</mat-cell>
    </ng-container>
    <!-- Teamname Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <!-- Summe km Column -->
    <ng-container matColumnDef="sumKm">
      <mat-header-cell *matHeaderCellDef>Summe km</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.sumKm}}</mat-cell>
    </ng-container>

    <!-- Summe Tage Column -->
    <ng-container matColumnDef="sumDays">
      <mat-header-cell *matHeaderCellDef>Summe Tage</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.sumDays}}</mat-cell>
    </ng-container>

    <!-- Anzahl Mitglieder Column -->
    <ng-container matColumnDef="member">
      <mat-header-cell *matHeaderCellDef>Anzahl Mitglieder</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.member}} </mat-cell>
    </ng-container>

    <!-- Avg Km Column -->
    <ng-container matColumnDef="avgKm">
      <mat-header-cell *matHeaderCellDef>Avg Km</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.avgKm}}</mat-cell>
    </ng-container>

    <!-- Avg Tage Column -->
    <ng-container matColumnDef="avgDays">
      <mat-header-cell *matHeaderCellDef>Avg Tage</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.avgDays}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
